﻿@using Sitecore.Data;
@using Sitecore.Data.Items;
@using System.Configuration;
@using Sitecore.Configuration
@{
    string fap = Settings.GetSetting("fap");
    string tools = Settings.GetSetting("tools");
    var joinOurNetworkEmailLink = Settings.GetSetting("joinOurNetworkEmailLink");

    ID FAP = new ID(fap);
    Item FapPage = Sitecore.Context.Database.GetItem(FAP);
    var link = Sitecore.Links.LinkManager.GetItemUrl(FapPage);

    ID Tools = new ID(tools);
    Item toolsPage = Sitecore.Context.Database.GetItem(Tools);
    var toolslink = Sitecore.Links.LinkManager.GetItemUrl(toolsPage);
}


<div class="col-md-12">
    <div class="col-md-12 blocks">
        <a href="@link">
            <div class="col-md-4 linksblocks">
                <p><img src="~/Images/fod-resized.png" class="img-responsive" /></p>
                <p>Find a Doctor</p>
            </div>
        </a>
        <a href="@joinOurNetworkEmailLink">
            <div class="col-md-4 linksblocks">
                <p><img src="~/Images/join.png" class="img-responsive" /></p>
                <p>Join our Network! </p>
            </div>
        </a>
        <a href="@toolslink">
            <div class="col-md-4 linksblocks">
                <p><img src="~/Images/tools.png" class="img-responsive" /></p>
                <p>Tools & Resources</p>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <img src="~/Images/iStock-510775366.jpg" class="img-responsive" />
    </div>
</div>
