﻿@using Sitecore.Mvc
<div class="col-md-12 providers">
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("ProvidersTitle")</h2>
        <p>@Html.Sitecore().Field("ProvidersContent")</p>
    </div>
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("JoinTitle")</h2>
        <p>@Html.Sitecore().Field("JoinContent")</p>
    </div>
</div>