﻿<div class="col-md-12 providers">
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("HelpTitle")</h2>
        <p>@Html.Sitecore().Field("HelpText")</p>
    </div>
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("WhyTitle")</h2>
        <p>@Html.Sitecore().Field("WhyText")</p>
    </div>
</div>
