﻿@model Primecomp93Helix.Feature.PageContent.Models.FacetView
@using System.Collections.Generic

@if (Model != null)
{
    List<string> facetList = Model.Facet.Value;
    <select name="@Model.Facet.Key" class="form-control">
        <option value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> selected</text> }> Select Option </option>
        @foreach (var item in facetList)
        {
            <option value="@item" @if (Model.Filter.Contains(item)) {<text> selected</text> }> @item </option>
        }
    </select>
}

