﻿@model Primecomp93Helix.Feature.PageContent.Models.FacetView

@if (Model != null)
{
    <div class="radio checked">
        <label><input type="radio" name="@Model.Facet.Key" value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> checked</text> } /><text>No Preference</text></label>
    </div>
    foreach (var item in Model.Facet.Value)
    {
        <div class="radio checked">
            <label><input type="radio" name="@Model.Facet.Key" value="@item" @if (Model.Filter.Contains(item)) { <text> checked</text> }>@item </label>
        </div>
    }
}
