﻿@using Primecomp93Helix.Feature.PageContent.Models;
@using Primecomp93Helix.Feature.PageContent.Helpers;
@using System.Configuration;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@model PhysicianResultsView
@if (Model != null)
{
    int count = Model.Start;
    if (Model.Physicians.Count > 0)
    {
        foreach (var item in Model.Physicians)
        {
            count++;
            
            <li class="fap-result">
                <div class="row">
                    <div class="col-md-7 col-sm-4 col-md-4 dr-info-left">
                        <div class="dr-name">
                            <span class="count">@count</span>

                            @if (item.ProviderType.Equals("Physician"))
                            {
                                <a class="dr-url" href="@item.Path" target="_blank">
                                    @item.FirstName @item.LastName@Html.Raw(", ")@item.Degree.ToUpper()
                                </a>
                            }
                        </div>
                        <div class="dr-specialty">@item.Specialty</div>
                        <div class="dr-phone"><a href="tel:@item.Phone">@item.Phone</a></div>

                    </div>
                    <div class="col-md-4 col-sm-4 col-md-4 dr-info-center">
                        @if (item.Address != null)
                        {
                            if (!item.ProviderType.Equals("Physician"))
                            {
                                <div class="dr-practice-name"><a href="@item.Path" target="_blank">@item.GroupName</a></div>
                            }
                            else
                            {
                                <div class="dr-practice-name">@item.GroupName</div>
                            }
                            <div><span class="dr-address-1">@item.Address</span></div>
                            <div>
                                <span class="dr-city">@item.City,</span><span class="dr-state"> @item.State</span><span class="dr-zip"> @item.Zip</span>
                            </div>

                        }
                    </div>
                    <div class="col-xs-4 col-xs-pull-8 col-sm-8 col-sm-push-4 col-md-push-0 col-md-pull-0 col-md-2">
                        <span class="distance-value" style="display:none;"><span class="fa fa-map-marker distance-marker"></span> @item.Distance.ToString("0.00") mi</span>
                    </div>
                    <div class="col-md-1 col-sm-4 col-md-4 dr-info-right">
                        <div class="dr-gender">
                            @if (@item.Gender != "Unknown")
                            {
                                @item.Gender;
                            }
                        </div>
                        <div class="dr-languages">
                            @if (item.Languages != null)
                            {
                                for (int i = 0; i < item.Languages.Length; i++)
                                {
                                    @item.Languages[i]
                                    if (i != item.Languages.Length - 1)
                                    {
                                        @Html.Raw(", ")
                                    }
                                }
                            }
                        </div>
                </div>
                    <hr class="fap-result-hr">
</li>
        }
    }
    else
    {

        <li class="fap-result">No results found</li>
    }
}

