﻿@using Sitecore.Mvc
@using Primecomp93Helix.Feature.PageContent.Models;
@model Physician
<div class="col-lg-12 fap-result">
    <div class="col-lg-12 profile">
       <div id="physician_details" class="row col-md-12">
            <div id="physician-box" class="col-md-12">
                <div class="row col-md-12" id="profile-box">
                    <!--copy box-->
                    <div class="col-md-12">
                    @if (Model.ProviderType == "Physician")
                    {
                        <div class="col-md-12 physician-name">
                            <h1>@Model.FirstName @Model.LastName@Html.Raw(", ")@if (Model.Degree != null)
                            {@Model.Degree.ToUpper()}</h1>
                            <h4>@Model.Specialty</h4>
                            @if (!string.IsNullOrEmpty(@Model.Gender))
                            {
                                <span>@Model.Gender</span>
                            }
                        </div>
                    }
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(@Model.GroupName))
                            {
                                <h3>@Model.GroupName</h3>
                            }
                            <h4><a href="@Html.Raw("http://")@Model.site">@Model.site</a></h4>
                        </div>
                        @if (@Model.Address != null && !string.IsNullOrEmpty(@Model.Address))
                        {
                            <div class="col-md-12">@Model.Address</div>
                            <div class="col-md-12">@Model.City@Html.Raw(",") @Model.State @Model.Zip</div>

                            <div class="col-md-12 dr-phone">
                                @if (!string.IsNullOrEmpty(Model.Phone))
                                {
                                    <span>Tel:</span>
                                    <span><a href="tel:@Model.Phone">@Model.Phone</a></span>
                                }
                            </div>
                            <div class="col-md-12">
                                @if (!string.IsNullOrEmpty(@Model.Fax))
                                {
                                    <span>Fax:</span> <span><a href="tel:@Model.Fax">@Model.Fax</a></span>
                                }
                            </div>
                        }
                    </div>
                    @if (@Model.SecondaryFacilityAddress != null && !string.IsNullOrEmpty(@Model.SecondaryFacilityAddress))
                    {
                    <hr class="fap-result-hr" />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h2>Secondary Facility</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">@Model.SecondaryFacilityAddress</div>
                            <div class="col-md-12">@Model.SecondaryFacilityCity@Html.Raw(",")@Model.SecondaryFacilityState @Model.SecondaryFacilityZip</div>
                            <div class="col-md-12 dr-phone">
                                @if (!string.IsNullOrEmpty(Model.SecondaryFacilityPhone))
                                {
                                    <span>Tel:</span>
                                    <span><a href="tel:@Model.SecondaryFacilityPhone">@Model.SecondaryFacilityPhone</a></span>
                                }
                            </div>
                            <div class="col-md-12">
                                @if (!string.IsNullOrEmpty(Model.SecondaryFacilityFax))
                                {
                                    <span>Fax:</span>
                                    <span><a href="tel:@Model.SecondaryFacilityFax">@Model.SecondaryFacilityFax</a></span>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    @if (@Model.AdditionalFacilityAddress != null && !string.IsNullOrEmpty(@Model.AdditionalFacilityAddress))
                    {
                    <hr class="fap-result-hr" />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h2>Additional Facility</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">@Model.AdditionalFacilityAddress</div>
                            
                            <div class="col-md-12">@Model.AdditionalFacilityCity@Html.Raw(",")@Model.AdditionalFacilityState @Model.AdditionalFacilityZip</div>
                            <div class="col-md-12 dr-phone">
                                @if (!string.IsNullOrEmpty(Model.AdditionalFacilityPhone))
                                {
                                    <span>Tel:</span>
                                    <span><a href="tel:@Model.AdditionalFacilityPhone">@Model.AdditionalFacilityPhone</a></span>
                                }
                            </div>
                            <div class="col-md-12">
                                @if (!string.IsNullOrEmpty(Model.AdditionalFacilityFax))
                                {
                                    <span>Fax:</span>
                                    <span><a href="tel:@Model.AdditionalFacilityFax">@Model.AdditionalFacilityFax</a></span>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    <hr class="fap-result-hr">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Specialties</h2>
                        </div>
                        <div class="col-md-12">
                            <p><span>@Model.Specialty</span></p>
                            <p><span>@Model.SubSpecialty</span></p>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.SpecialtyNotes))
                        {
                            <div class="col-md-12">
                                <h3>Specialty Notes: </h3>
                                <span>@Model.SpecialtyNotes</span>
                            </div>
                        }
                    </div>
                    @if (@Model.Languages != null)
                    {
                        string[] languages = Model.Languages.ToString().Split(',');
                        int i = 0;
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Languages Spoken</h3>
                                <span>
                                    @foreach (string language in languages)
                                    {
                                        i++;
                                        if (i == languages.Length)
                                        {
                                            @language
                                        }
                                        else
                                        {
                                            @language@Html.Raw(", ")
                                        }
                                    }
                                </span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //if ($('.bpp-profile-img').attr('src').indexOf("Intranet") > -1) {
        //    $('.action-btn-row').css('max-width', '176px');
        //}

        var $tabContent = $('.tab-pane .card');
        var $accordionContent = $('#findDoctorTab .accordion-content');
        console.log($tabContent);
        for (var i = 0; i < $accordionContent.length; i++) {
            $($accordionContent[i]).html($($tabContent[i]).html());
        }

        $('title').text($('.physician-name').text());
    })

    $('#findDoctorTab .nav-item').click(function () {
        $('.nav-item').removeClass('active');
        $(this).addClass('active');

        var showID = $(this).find('a').attr('data-id');

        $('.tab-pane').removeClass('active');

        $('.tab-pane').each(function () {
            if ($(this).attr('id') == showID) {
                $(this).addClass('active');
            }
        })

        /*$('.accordion-content').hide('fast');
        $(this).find('.accordion-content').show('fast');*/
    });
</script>