﻿@using Primecomp93Helix.Feature.PageContent.Helpers;
@using Primecomp93Helix.Feature.PageContent.Models;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using System.Configuration;
@using Sitecore.Configuration
@{
    var ClayLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("Clay"))));
    var TownCenterLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("TownCenter"))));
    var NorthLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("North"))));
    var BMCLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("BaptistMedicalCenter"))));
    var BeachesLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("Beaches"))));
    var NassauLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("Nassau"))));
    var SouthLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("South"))));
    var FlaglerLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("Flagler"))));
    var StVRiversideLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("StVincentRiverside"))));
    var StVSouthsideLink = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(new ID(Settings.GetSetting("StVincentSouthside"))));
}

<div class="container bg-white theme-wrap">
    <div class="heading col-md-12">
        <div class="providerintro col-md-5" style="margin-top:30px">
            <br /><br />
            @Html.Sitecore().Field("Title")
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h3>In Network Hospitals</h3>
            <div class="row hospitalsleft col-md-4">Emergency Centers:</div>
            <div class="hospitalsright col-md-5"><a href="@ClayLink">Baptist Clay Emergency Center</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-516-1000">904-516-1000</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@TownCenterLink">Baptist Emergency Town Center</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-202-6800">904-202-6800</a></div>
            <div class="row hospitalsleft col-md-4" style="margin-bottom:20px"></div>
            <div class="hospitalsright col-md-5" style="margin-bottom:20px"><a href="@NorthLink">Baptist North Emergency Center</a></div>
            <div class="hospitalsrightleft col-md-3" style="margin-bottom:20px"><a href="tel:904-202-6900">904-202-6900</a></div>
            <div class="row hospitalsleft col-md-4">Hospitals</div>
            <div class="hospitalsright col-md-5"><a href="@BMCLink">Baptist Medical Center</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-202-2000">904-202-2000</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@BeachesLink">Baptist Medical Center Beaches</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-627-2900">904-627-2900</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@NassauLink">Baptist Medical Center Nassau</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-321-3500">904-321-3500</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@SouthLink">Baptist Medical Center South</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-271-6000">904-271-6000</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@FlaglerLink">Flagler Hospital</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-819-5155">904-819-5155</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@StVRiversideLink">St. Vincent's Riverside</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-296-7300">904-296-7300</a></div>
            <div class="row hospitalsleft col-md-4"></div>
            <div class="hospitalsright col-md-5"><a href="@StVSouthsideLink">St. Vincent's Southside</a></div>
            <div class="hospitalsrightleft col-md-3"><a href="tel:904-296-3700">904-296-3700</a></div>
        </div>
    </div>
    <hr class="fap-result-hr" />
    <div class="fap-wrapper">
        <div class="row">
            <div class="col-md-8">
                <form id="fap">
                    <div class="col-md-11 col-sm-10 col-xs-9">
                        <input type="text" name="query" id="query" placeholder="Enter Provider Name or Specialty" class="form-control" autofocus />
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-3 xs-no-pad-left">
                        <button type="submit" id="searchBtn" class="fap-btn"><span class="fa fa-search"></span></button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="fap-sort-wrap show-on-results hidden-xs" style="display:none;">
                    <label class="fap-label sort-label hidden-xs">Sort By: </label>
                    <select id="sort" name="sort" class="form-control fap-sort" onchange="DisplayProgressMessageOther('... Searching')">
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row visible-xs visible-sm">
            <div class="col-md-12">
                <div class="fap-result-filter">
                    <p><a id="fap-filter-toggle">Refine Results <i class="fa fa-chevron-up" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>

        <div class="row show-on-results" style="display:none;">
            <div class="col-md-3">
                <div class="fap-filters-container">
                    <div class="fap-filters-header hidden-xs hidden-sm">Refine Results</div>
                    <div class="fap-filters">
                        <button id="reset-filter-btn" onclick="resetFilters();" class="fap-btn" type="button">Reset Filters</button>
                        <div class="fap-sort-wrap show-on-results visible-xs visible-sm" style="display:none;">
                            <p class="fap-filter-name">Sort By</p>
                            <select id="mobile-sort" name="sort" class="form-control fap-sort" onchange="DisplayProgressMessageOther('Loading... Please Wait')">
                                <option value="asc">A-Z</option>
                                <option value="desc">Z-A</option>
                            </select>
                        </div>
                        <div id="filters">
                            <p class="fap-filter-name">Provider Type</p>
                            <div id="providerType">
                                <select></select>
                            </div>
                            <p class="fap-filter-name">Specialty</p>
                            <div id="specialty">
                                <select></select>
                            </div>
                            <p class="fap-filter-name">Gender</p>
                            <div id="gender">
                                <div class="radio checked">
                                    <label><input type="radio" name="gender" checked="checked" />No Preference</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="gender" />Male</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="gender" />Female</label>
                                </div>
                            </div>
                            <p class="fap-filter-name">Language</p>
                            <div id="language">
                                <select></select>
                            </div>
                        </div>

                        <p class="fap-filter-name">Location <input type="checkbox" id="location-filter" name="location-filter" /></p>
                        <div class="location-controls" style="display:none;">
                            <label for="distance">Within </label>
                            <div class="inline-block">
                                <select name="distance" id="distance" class="form-control" onchange="getQuery()">
                                    <option value="5">5 mi</option>
                                    <option value="10">10 mi</option>
                                    <option value="20">20 mi</option>
                                    <option value="30">30 mi</option>
                                    <option value="40">40 mi</option>
                                    <option value="50">50 mi</option>
                                    <option value="50000">50+ mi</option>
                                </select>
                                <label class="zip-label" for="zip">of </label>
                                <input type="text" name="zip" id="zip" placeholder="Zipcode" minlength="5" maxlength="5" pattern="[0-9]" class="form-control" />
                            </div>
                            <div onclick="useMyLocation()" class="use-location"><span class="fa fa-map-marker"></span> <span class="underline-txt">Use My Location</span></div>
                            <input type="button" id="apply-zip-btn" class="fap-btn btn btn-primary" value="Apply Zip" onclick="DisplayProgressMessage(this, 'Loading... Please Wait');" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="fap-results-container">
                    <!-- START RESULTS -->
                    <ul class="fap-results" id="results"></ul>
                    <!-- END RESULTS -->
                </div>
                <div class="controls-container">
                    <div id="pagination"></div>
                </div>
            </div>
        </div>


    </div>
    <div class="submit-progress hidden">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
        <label>Loading... Please Wait</label>
    </div>
</div>
@*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuQrdL3fmQmQheZYtgiZS0zuAwu_yZaL8" type="text/javascript"></script>*@

<script>
    var geoAllowed = '';
    var useLocation = false;
    var dfilter = [];
    var defaulttype = "Physician";
    filters = {};
    filters['providertype_s'] = defaulttype;
    var sort = 'asc';
    var distance = '';
    var query = '';
    var queryResponse;
    var initFacets;
    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("disabled", true).text(msg);
        $(".submit-progress").removeClass("hidden");
        $("body").addClass("submit-progress-bg");
        getQuery();
        $("body").removeClass("submit-progress-bg");
        $(ctl).prop("disabled", false).text(msg);
        return true;
    }
    function DisplayProgressMessageOther(msg) {
        $(".submit-progress").removeClass("hidden");
        $("body").addClass("submit-progress-bg");
        getQuery();
        $("body").removeClass("submit-progress-bg");
        return true;
    }

    $(function () {
        //console.log('getting facets');
       // querySolrFacets();
        //console.log('facets returned');

        $('#fap-filter-toggle').click(function () {
            $('.fap-filters-container').slideToggle();
            $(this).find('i').toggleClass('fa-chevron-up fa-chevron-down');
        });

        $('input#location-filter').on('change', function () {
            //console.log('location checkbox changed');
            if ($(this).prop('checked') == true) {
                if ($('#sort').is(':visible')) {
                    sort = $('#sort').prop("disabled", true);
                } else {
                    sort = $('#mobile-sort').prop("disabled", true);
                }
                $('.location-controls').show();
                $('.fap-filters').css('padding', '10px 10px 40px 10px');

                if ($('#zip').val() != '' && $('#zip').val().length == 5) {
                    DisplayProgressMessageOther("Searching ... Please Wait");
                    // getQuery();
                }
            } else {
                if ($('#sort').is(':visible')) {
                    sort = $('#sort').prop("disabled", false);
                } else {
                    sort = $('#mobile-sort').prop("disabled", false);
                }
                $('.location-controls').hide();
                $('.fap-filters').css('padding', '10px 10px 1px 10px');
                DisplayProgressMessageOther("Searching ... Please Wait");
                //getQuery();
            }
        });

        //$(window).resize(function () {
        //    checkFilterVisibility();
        //});

        // on submit
        $('#fap').on('submit', function (e) {
            //console.log('submitted');
            e.preventDefault();
            getQuery();
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                //console.log('submitted');
                e.preventDefault();
                getQuery();
            }
        });

        jQuery("#zip").keyup(function () {
            var value = jQuery(this).val();
            value = value.replace(/[^0-9]+/g, '');
            jQuery(this).val(value);
        });

        // typeahead
        //console.log('init typeahead');
        $('#query, #queryMobile').autocomplete({
            source: function (request, response) {
                //var specialties = { term: $('#query').val() };
                query = $('#query').val();
                var searchQuery = buildSearchObject();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PhysicianTypeahead", "FAP")',
                    //data: "Query=" + request.term,
                    data: searchQuery,
                    dataType: "json",
                    success: function (data) {
                        if (data.Status != "Error") {
                            response(parseTypeahead(data));
                        }
                    }
                })
            },
            minLength: 3
        }).each(function () {
            $(this).data("ui-autocomplete")._renderItem = function (ul, item) {
                var newLabel = String(item.label).replace(
                        new RegExp(this.term.replace(/([^a-z0-9]+)/gi, ''), "gi"),
                        "<strong>$&</strong>");
                var icon;
                if (item.type != '') {
                    if (item.type == "Doctor") {
                        icon = "fa-user-md";
                    } else if (item.type == "Specialty") {
                        icon = "fa-stethoscope";
                    }
                }
                
                return $("<li>")
                    .data("ui-autocomplete-item", item)
                    .append("<div><span class='fa " + icon + "'><span> " + newLabel + "</div>")
                    .appendTo(ul);
            };
        });

        mobileAdjustments();

        getQuery();
    });

    function getQuery() {
        // main query
        query = $('input[name=query]').val();

        // filters
        var defaulttype = "Physician";
        filters = {};
        filters['providertype_s'] = defaulttype;

        sort = 'asc';
        distance = '';

        if ($('#filters').is(':visible')) {
            //console.log('filters visible getting filter data');
            $('#filters select').each(function () {
                filters[$(this).attr('name')] = $(this).val();
            })
            filters['gender_s'] = $("input[name='gender_s']:checked").val();

            distance = $('#distance').val();
            if ($('#sort').is(':visible')) {
                sort = $('#sort').val();
            } else {
                sort = $('#mobile-sort').val();
            }
            var searchQuery = buildSearchObject();
            querySolr(searchQuery);
        } else {
            //console.log('filters hidden, only use search input');
            if ($('#zip').val() != '') { //&& $('#latlng').val() != ''
                //console.log('zip entered & latlng available')
                distance = $('#distance').val();
            }
            var searchQ = buildSearchObject();
            querySolr(searchQ);
        }
    }

    function buildSearchObject() {
        var searchQuery = {};
        searchQuery.Query = query != '' ? query : '*';
        searchQuery.Filters = filters;
        searchQuery.Start = 0;
        searchQuery.Rows = 10;
        searchQuery.Distance = distance != '' ? distance : null;
        searchQuery.Sort = sort != '' ? sort : '';
        searchQuery.SearchZip = $('#zip').val();
        return searchQuery;
    }

    // query solr - accepts SolrQuery model
    function querySolr(query) {
        //console.log('Current Query: ', query);
        $.post('@Url.Action("PhysicianQuery", "FAP")', query,
            function (data) {
                if (data.Status == "Error") {
                    // insert error handling
                    //console.log(data);
                    $(".submit-progress").addClass("hidden");
                } else {
                    //console.log('Results data ', data);
                    queryResponse = data;

                    $('#specialty').html(data.Facets.specialties_pipe);
                    $('#language').html(data.Facets.languages_pipe);
                    $('#providerType').html(data.Facets.providertype_s);
                    $('#gender').html(data.Facets.gender_s);
                    $('#results').html(data.Results);
                    $('#pagination').html(data.Pagination);

                    // pagination
                    pagination();
                    if ($('#location-filter').prop('checked') == true &&
                        $('#zip').val() !== '') {
                            $('.distance-value').show();
                        }
                    $('.show-on-results').show();
                    checkFilterVisibility();
                    //$('.fap-wrapper select').on('change', function () {
                    $('#filters select').on('change', function() {
                        var id = $(this).attr('id');
                        DisplayProgressMessageOther("Loading... Please Wait");
                    });
                    $('.fap-wrapper input[type=radio][name=gender_s]').change(function () {
                        //console.log('gender radio changed');
                        DisplayProgressMessageOther("Loading... Please Wait");
                    });
                    $(".submit-progress").addClass("hidden");
                }
            }).fail(function (data) {
                console.log(data);
            });

    }

    // parses solr response to build typeahead array
    function parseTypeahead(data) {
        //console.log('parseTypeahead');
        var json = [];
        $(data).each(function () {
            if (this.ProviderType == 'Ancillary') {
                var groupName = this.GroupName;
                json.push({
                    "label": groupName,
                    "type": "Ancillary"
                });
            }
            else {
                var name = this.FirstName + ' ' + this.LastName;
                json.push({
                    "label": name,
                    "type": "Doctor"
                });
            }
        });
        return json;
    }

    function parseFacetsTypeahead(facets, type) {
        //console.log('parseFacetsTypeahead')
        var json = [];
        $(facets).each(function () {
            json.push({
                "label": this.Key,
                "type": type
            });
        });
        //console.log(json);
        return json;
    }

    // get facets
    @*function querySolrFacets(query) {
        //console.log('querySolrFacets...')
        $.post('@Url.Action("PhysicianFacets", "FAP")', query,
            function (data) {
                if (data.Status == "Error") {
                    console.log(data);
                } else {
                    initFacets = data;
                }
            }).fail(function (data) {
                console.log(data);
            });

    }*@

    function pagination() {
        $('#pagination').twbsPagination('destroy');
        if (queryResponse.TotalHits && queryResponse.OriginalQuery.Rows) {
            total = Math.ceil(queryResponse.TotalHits / queryResponse.OriginalQuery.Rows);
            currentPage = queryResponse.OriginalQuery.Start != 0 ? (queryResponse.OriginalQuery.Start / queryResponse.OriginalQuery.Rows) + 1 : 1;
            //console.log('start: ', queryResponse.OriginalQuery.Start);
            //console.log('rows: ', queryResponse.OriginalQuery.Rows);
            //console.log('currentPage: ',currentPage);

            if (total > 1) {
                $('#pagination').twbsPagination({
                    totalPages: total,
                    startPage: currentPage,
                    visiblePages: 5,
                    initiateStartPageClick: false,
                    first: '<<',
                    prev: '<',
                    next: '>',
                    last: '>>',
                    onPageClick: function (event, page) {
                        pageQuery((page - 1) * queryResponse.OriginalQuery.Rows);
                    }
                });
            }
        }
    }

    // pagination page query
    function pageQuery(number) {
        //console.log(number);

        var query = queryResponse.OriginalQuery;
        query.Start = number;
        querySolr(query);
    }

    function useMyLocation() {
        if (geoAllowed !== false) {
            getGeolocation();
        } else {
            console.log('Error getting location. Please ensure Geolocation is enabled in your browser.');
        }
    }

    // distance filter stuff
    // Try to get geolocation, if successful set lat and long and do a zip code lookup
    function getGeolocation(advanced) {
        if (navigator.geolocation) {
            //console.log('navigator found...');
            // show loader in zipcode input
            setTimeout(function () {
                //console.log('calling getCurrentPosition...');
                navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
            }, 750)
        }

        function geoSuccess(position) {
            lat = position.coords.latitude;
            long = position.coords.longitude;
            geoAllowed = true;
            useLocation = true;

            // do lookup for zipcode
            var latlng = new google.maps.LatLng(lat, long);
            geocoder = new google.maps.Geocoder();

            geocoder.geocode({
                'latLng': latlng
            }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        for (j = 0; j < results[0].address_components.length; j++) {
                            if (results[0].address_components[j].types[0] === 'postal_code') {
                                zipcodeInput = results[0].address_components[j].short_name;

                                $('input#zip').val(zipcodeInput);

                            }
                        }
                    }
                } else {
                    $('inpit#zip').text("Zipcode");
                    console.log('Error getting location. Please ensure Geolocation is enabled in your browser.');
                    // hide zipcode-loader
                }
            });
        }

        function geoError() {
            geoAllowed = false;
            useLocation = false;
            console.log('Error getting location. Please ensure Geolocation is enabled in your browser.');
            // hide zipcode-loader
        }
    }

    function resetFilters() {
        $('.fap-filters select').each(function () {
            if ($(this).attr('id') != 'distance') {
                $(this).val('');
            }
        });
        $('#query').val("");
        $('.fap-filters input[type=radio][name=gender_s][value=""]').prop('checked', true);
        $('.fap-filters input[type=checkbox][name=location-filter]').prop('checked', false);
        $('.location-controls').hide();
        $('.fap-filters').css('padding', '10px 10px 1px 10px');
        $('#sort').val('asc');
        $('#mobile-sort').val('asc');
        $('#zip').val('');
        distance = '';
        DisplayProgressMessageOther("Searching... Please Wait");
//        getQuery();
    }

    function checkFilterVisibility() {
        //console.log('checkFiltervisibility called')
        if (window.innerWidth >= 992 && $('.fap-result').length > 0) {
           //console.log('showing filters')
            $('.fap-filters-container').css('display', 'block');
        } else {
            //console.log('hiding filters')
            $('.fap-filters-container').css('display', 'none');
        }
    }

    function showMoreLocations(target) {
        var $hiddenLocations = $(target).closest('.fap-result').find('.hidden-locations');

        if ($hiddenLocations.is(':visible')) {
            $hiddenLocations.hide();
            $(target).find('.more-locations-txt').text('Show More Locations');
            $(target).find('.more-locations-icon').removeClass('fa-angle-up').addClass('fa-angle-down');
        } else {
            $hiddenLocations.show();
            $(target).find('.more-locations-txt').text('Hide More Locations');
            $(target).find('.more-locations-icon').removeClass('fa-angle-down').addClass('fa-angle-up');
        }
    }

    function mobileAdjustments() {
        if (window.innerWidth <= 767) {
            $('#query').attr('placeholder', 'Name or Specialty');
        } else {
            $('#query').attr('placeholder', 'Enter Physician Name or Specialty');
        }
    }

</script>



