﻿@using Sitecore.Mvc
<div class="col-md-12">
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("GeneralHeading")</h2>
        <p>@Html.Sitecore().Field("GeneralLinks")</p>
    </div>
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("ProviderHeading")</h2>
        <p>@Html.Sitecore().Field("ProviderLinks")</p>
    </div>
    <div class="col-md-12">
        <h2>@Html.Sitecore().Field("EmployerHeading")</h2>
        <p>@Html.Sitecore().Field("EmployerLinks")</p>
    </div>
</div>
