﻿@using Sitecore.Data;
@using Sitecore.Data.Items;
@using System.Configuration;
@using Sitecore.Configuration
@using Sitecore.Links;
@{
    string fap = Settings.GetSetting("fap");

    ID FAP = new ID(fap);
    Item FapPage = Sitecore.Context.Database.GetItem(FAP);
    var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
    defaultUrlOptions.EncodeNames = true;
    var link = Sitecore.Links.LinkManager.GetItemUrl(FapPage, defaultUrlOptions);

    var joinOurNetworkEmailLink = Settings.GetSetting("joinOurNetworkEmailLink");
}


<div class="col-md-12">
    <div class="col-md-12 blocks">
        <a href="@link">
            <div class="col-md-6 linksblocks">
                <p><img src="~/Images/fod-resized.png" class="img-responsive" /></p>
                <p>Find a Doctor</p>
            </div>
        </a>
        <a href="@joinOurNetworkEmailLink">
            <div class="col-md-6 linksblocks">
                <p><img src="~/Images/join.png" class="img-responsive" /></p>
                <p>Join our Network! </p>
            </div>
        </a>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="float:left">
            <p class="img-responsive">@Html.Sitecore().Field("Picture")</p>
        </div>
        <div class="col-md-6 toolsimage">
            <h4>@Html.Sitecore().Field("Name1")</h4>
            <p>@Html.Sitecore().Field("Position1")</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="float:left">
            <p class="img-responsive">@Html.Sitecore().Field("Picture2")</p>
        </div>
        <div class="col-md-6 toolsimage">
            <h4>@Html.Sitecore().Field("Name2")</h4>
            <p>@Html.Sitecore().Field("Position2")</p>
        </div>
    </div>
</div>

