﻿@using Sitecore.Mvc
@using Sitecore.Links
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Primecomp93Helix.Feature.PageContent.Models
@using Primecomp93Helix.Feature.PageContent.Controllers;
@model Posts
<div class="col-md-12">
    <div class="col-md-12">
        @{
            int _currentPage = 1;
            bool page = false;

            if (!String.IsNullOrEmpty(Request.QueryString["PCNNews"]))
            {
                page = Int32.TryParse(Request.QueryString["PCNNews"], out _currentPage);
            }
            if (!page)
            {
                _currentPage = 1;
            }
            else
            {
                _currentPage = Int32.Parse(Request.QueryString["PCNNews"]);
            }
            int index = 0;
            if (_currentPage > 1)
            {
                index = _currentPage - 1;
            }
            Database db = Sitecore.Configuration.Factory.GetDatabase("web");
            var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
            defaultUrlOptions.EncodeNames = true;

            Item postItem = db.GetItem("74A309E2-DC58-4702-9EFA-9B787BCACDF6");
            var PostUrl = LinkManager.GetItemUrl(postItem, defaultUrlOptions);
        }
        @if (Model._industry.Count >= index + 1)
        {
            foreach (var industry in Model._industry)
            {
                <div class="post">

                    <div itemprop="headline">
                        <h1>
                            <img src="~/Images/InTheIndustry.png" />
                            @Html.Raw("In The Industry")
                        </h1>
                        <h2>@Html.Raw(industry.Fields["Title"].ToString())</h2>
                    </div>
                    <div class="authorheading" itemprop="author">
                        <br />
                        @{
                            var publishDate = (DateField)industry.Fields["Publish Date"];
                            var date = publishDate.DateTime.ToString("MMMM d, yyyy");

                        }
                        @Html.Raw(date)
                    </div>
                    <p class="clear summary">
                        @if (!String.IsNullOrEmpty(industry.Fields["Summary"].ToString()))
                        {
                            @Html.Raw(industry.Fields["Summary"].ToString())
                            <div class="readmore">
                                @{
                                    var id = industry.ID.ToString();
                                }
                                <a href="@Html.Raw(PostUrl + "?postID=" + id)">Continue Reading > </a>
                            </div>
                        }
                    </p>
                </div>
            }
        }
    </div>
</div>

@{
    int currentPage = 1;
    bool pageResult = false;

    if (!String.IsNullOrEmpty(Request.QueryString["PCNNews"]))
    {
        pageResult = Int32.TryParse(Request.QueryString["PCNNews"], out currentPage);
    }
    if (!pageResult)
    {
        currentPage = 1;
    }

}

<div class="pagination">
    @Html.Raw(PCNNewsController.GetBlogPagination(currentPage, @Model))
</div>