﻿@*@model Sitecore.Mvc.Presentation.RenderingModel*@
@using Sitecore.Mvc
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Primecomp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/slick.css" />
    <link rel="stylesheet" href="~/Content/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/fonts.css" />
    <link rel="stylesheet" href="~/Content/primecomp.css" />
    <link rel="stylesheet" href="~/Content/fap.css" />
    <link rel="stylesheet" href="~/Content/providers.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Content/ReportCenter.css" />


    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>

    <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    @*@Html.Sitecore().VisitorIdentification()*@
</head>
<body>
    <div id="universalModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title blue"></h4>
                </div>
                <div class="modal-body black">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="container" style="min-height:600px">
        @Html.Sitecore().Placeholder("main")
    </div>
    <script type="text/javascript">
        function showModal(modalTitle, modalBody, close) {
            $('#universalModal .modal-title').html(modalTitle);
            $('#universalModal .modal-body').html(modalBody);
            if (close == false) {
                $('#universalModal').modal({ backdrop: 'static', keyboard: false, show: true });
            } else {
                $('#universalModal').modal('show');
            }
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89480073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-89455287-15');
    </script>
</body>
</html>