﻿@using Sitecore.Mvc
<link href="~/Content/ReportCenter.css" rel="stylesheet" />

<div class="container bg-white">
    <h1 class="dcenter-header">@Html.Sitecore().Field("Title")</h1><br>
    <form id="docCenterSearchForm">
        <div class="row">
            <div class="col-md-10 col-xs-9">
                <input id="query" type="text" name="query" placeholder="Enter Search Term" class="form-control" autofocus />
            </div>
            <div class="col-md-2 col-md-push-0 col-sm-2 col-xs-3">
                <button type="submit" class="dcenter-search-btn"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form><br>
    <div class="row">
        <div class="col-md-6">
            <div class="dcenter-sort-wrap">
                <label class="dcenter-sort-label hidden-xs">
                    Show
                    <select id="option-sort" class="form-control dcenter-sort">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>entries
                </label>
            </div>


        </div>
        <div class="dcenter-topsort-margin col-md-3">

        </div>
    </div>
    @*<div class="row visible-xs visible-sm">
        <div class="col-md-12">
            <div class="dcenter-result-filter">
                <p>
                    <a id="dcenter-filter-toggle">
                        Upload new Document
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class=" col-md-12 dcenter-refine-show hidden-xs hidden-sm" id="dcenter-showing-top">Showing 0 - 0 of 0 entries</div>

        @*<div class="col-md-3">
            @if (Sitecore.Security.Accounts.User.Current.IsInRole("sitecore\\Admin"))
            {
                <div class="dcenter-filters-container">
                    <form action="@Url.Action("AddMediaItem", "ReportCenter")" method="post" enctype="multipart/form-data">
                        <input type="file" name="document" />
                        <button class="dcenter-download dcenter-download-btn" type="submit">
                            <i class="fa fa-upload" aria-hidden="true"> UPLOAD</i>
                        </button>
                    </form>
                </div>
            }
        </div>*@

        <div class="col-md-9">
            <div class="dcenter-results-container">
                <ul id="results" class="dcenter-results"></ul>
            </div>
            <div class="dcenter-controls-container row">

                <div class="col-md-6 dcenter-bottom-showing" id="dcenter-showing-bottom">Showing 0 - 0 of 0 entries</div>
                <div id="pagination" class="col-md-6"></div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/ReportCenter.js"></script>