﻿body {
    background-color: #f1f1f1;
    font-family: OpenSans, Arial;
    font-size: medium;
}
.outerpost {
    min-height: 600px;
}
.halfRight ul li {
    display: inline-block;
    zoom:1;
    *display: inline;
}
.halfLeft {
    padding-bottom: 25px;
}
.readmore {
    text-align:right;
}
.post {
    border-radius: 25px;
    border: 2px solid #fef1d2;
    padding: 15px;
}
.authorheading {
    padding-bottom: 25px;
    margin-left: 10px;
}
.articleBody {
    padding-bottom: 50px;
}
.summary {
    margin-left: 10px;
}
.pagination {
    padding-bottom:25px;
    margin-left:25px;
}
h1, .h1 {
    color: #8cc542;
    font-size: 3em;
    font-weight: 300;
    margin: 1px;
}
/*Common css*/
.twocolumn {
    background-color: white;
    /*padding-top:10%;*/
    padding-bottom:25%;
}
.no-padding {
    padding: 0;
}
a {
    text-decoration: none !important;
}
.container {
    min-height: 100%;
    position:page;
        
}
.push {
    height: 50px;
}
.field-validation-error {
    color: Red;
}
.text-color {
    color: white;
}
.doc-content h3 {
    color: #b4a240;
    margin-top: 0px;
    padding-top: 20px;
}
.doc-content {
    background: #2e5e8c;
    /*height: 100%;*/
    padding: 0px 15px 30px 15px;
    border-top: 3px solid #004F8E;
    border-bottom: 3px solid #004F8E;
    border-left: 3px solid #004F8E;
    border-right: 3px solid #004F8E;
}
.doc-content ul li:before {
    font-family: FontAwesome;
    content: "\f105";
    float: left;
    width: 1.4em;
    margin-left: -35px;
    background: #0a5185;
    margin-right: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
.doc-content ul {
    list-style: none;
}
.doc-content ul li {
    margin-bottom: 20px;
    color: white;
}
.doc-content1 h3 {
    color: #726d7b;
}
.doc-img img {
    width: 100%;
    height: auto;
}
.text-italic {
    font-style: italic;
}
.list-style-none {
    list-style: none;
    padding-left: 1.25%;
}
/** Media Queries*/
@media screen and (max-width:375px) {
    .twocolumn {
        padding-bottom: 50%;
    }

    .right-foot-sec {
        margin-bottom: 100px;
        position: unset;
    }
    .list-column-2 {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        margin-bottom: 20px !important;
    }

    .list-column-2 li:nth-child(5) {
        padding-top: unset !important;
    }

    .modal-backdrop {
        z-index: -2 !important;
    }

    .XblogFooter {
        position: static;
    }

    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 3px;
    }
    /*ends*/
}
@media (max-width : 480px) {
    .right-foot-sec {
        margin-bottom: 100px;
        position: unset;
    }

    .nav-modal-head span a p {
        font-size: 10px;
        margin-top: 6px;
        margin-left: 14px;
    }

    .XblogFooter {
        position: static;
    }


    .list-column-2 {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        margin-bottom: 20px !important;
    }

    .list-column-2 li:nth-child(5) {
        padding-top: unset !important;
    }

    .modal-backdrop {
        z-index: -2 !important;
    }

    .leadership .bioContent {
        margin-left: 15px;
        margin-top: 10px;
    }


    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 3px;
    }
    /*ends*/

}
@media (max-device-width: 737px) {
    .top-icons {
        display: none;
    }

    .modal-icons figcaption {
        font-size: 12px !important;
    }

    .right-foot-sec {
        margin-bottom: 100px;
        position: unset;
    }
}
@media (min-width:768px) {
    .col-sm-3 {
        width: 100% !important;
    }

    .logo {
        float: none !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) 
{
    .top-icons {
        display: inline-flex;
        margin-top: 5px;
    }

    .top-icons li a {
        font-size: 8px;
        text-align: center;
    }

    .top-icons li a figcaption {
        margin-left: 0px;
    }

    .top-icons li a img {
        /*object-fit: contain;*/
        margin-bottom: 4px;
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
    }

    /*.navbar {
            display: none;
        }*/

    .modal-navHeader {
        font-size: 20px !important;
    }

    .modal-navLinks {
        font-size: 16px !important;
    }

    /*ends*/


    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 6px;
        font-size: 50px;
    }
    /*ends*/
    .right-column {
        position: unset;
    }

    .doc-content {
        height: 620px;
    }
}
@media(max-width:800px) {
    #myCarousel {
        display: none !important;
    }
}
@media screen and (min-width: 765px) {

    .doc-content h3 {
        min-height: 72px;
        max-height: 72px;
        overflow-y: auto;
    }

    .doc-content ul {
        min-height: 350px;
        max-height: 350px;
        /*overflow-y: auto;*/
    }
}
@media (min-width: 768px) and (max-width:992px) {
    #left-column {
        float: left;
    }

    #right-column {
        float: right;
    }

    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .doc-content {
        height: 630px;
    }
}
@media screen and (max-width:991px) {
    .linksblocks {
        float: none !important;
        width: 100% !important;
        height: 100% !important;
    }

    .linksblocks img {
        border: 10px !important;
        padding: 20px !important;
    }

    .linksblocks p {
        font-size: larger !important;
    }
    /*.twocolumn {
            padding-bottom: 100%;
        }*/
    .hospitalsright {
        float: none !important;
    }

    .hospitalsleft {
        float: none !important;
    }
    
}
@media screen and (max-width:1024px)
{
    .navbar{
        display:block !important;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1336px) {
    .top-icons {
        display: inline-flex;
    }

    .top-icons a {
        font-size: 10px;
    }

    .top-icons li a img {
        /*object-fit: contain;*/
        margin-bottom: 4px;
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
    }

    .doc-content {
        height: 610px;
    }

    .navbar {
        display: block !important;
    }

    /*.navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #004F8E;
        background-image: none;
        border: 1px solid #004F8E;
        border-radius: 4px;
    }*/

    .modal-navHeader {
        font-size: 20px !important;
    }

    .modal-navLinks {
        font-size: 16px !important;
    }
    /*this ovverides bootstrap nabar toggle behavior*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: none;
    }
    /*ends*/

    /*this ovverides bootstrap modal close btn behavior*/
    .modal-header .close {
        margin-top: 2px;
        margin-right: 6px;
        font-size: 50px;
    }
    /*ends*/
    .navbar {
        display: block !important;
    }

}
@media screen and (min-width: 1024px) {

    /***** Page Overlap Effect *****/
    .container.bg-white {
        position: relative; /* needed for z-index to work */
        /*z-index: 1000;*/
        margin-top: 0px;
        margin-bottom: -35px;
        /*padding-bottom: 325px;*/
        min-height: 675px;
        padding-top: 35px;
    }
    /*.doc-content {
        height:100%;
    }*/
    .navbar {
        display:inherit !important;
    }
}
@media screen and (min-width:1920px)
{
    .navbar {
        display: inherit !important;
    }
}
/*----------------------------------------------Header and footer start--------------------------------------------------------*/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #004F8E;
    background-image: none;
    border: 1px solid #2e5e8c;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    border-color: white;
}
.to-header {
    /*margin: 20px 0px 2px 50px !important;*/
    background-color: white;
}
/*.to-header .container {
    clear:both;
}*/
.space-after-content {
    margin-bottom: 50px !important;
}
.header-nav-wrap .navbar-inverse {
    background-color: white !important;
    border-color: #004F8E !important;
    border-radius: 0px !important;
    border-top: 6px solid #004F8E !important;
    height: 60px;
}

.header-nav-wrap nav.affix {
    top: 0;
    width: 102%;
    z-index: 25 !important;
}
.top-nav li a {
    color: #004F8E;
}
.top-nav li:hover a {
    color: white;
}
.top-nav li a i {
    font-size: 9px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 12px;
}
.top-icons li {
    float: left;
    margin-left: 35px;
    margin-top: 9px;
}
.top-icons a {
    margin-left: 0px;
    text-align: center;
}
.top-icons li a img {
    /*object-fit: contain;*/
    margin-bottom: 4px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
}
.drop-active.dropdown .dropbtn {
    text-decoration: none;
    background-color: #004F8E;
    color: white;
}
.dropbtn {
    color: white;
    padding: 12px 14px 15px 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/*.navbar {
line-height: 1;
}*/
.navbar .dropdown {
    position: relative;
    display: inline-block;
}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a9b6d7;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.navbar .dropdown-content a {
    color: #004F8E;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}
.dropdown-content ul a {
    color: white;
}
.navbar .dropdown-content:hover a {
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}
.navbar .dropdown:hover .dropdown-content {
    display: block;
}
.navbar .dropdown:hover .dropbtn {
    text-decoration: none;
    background-color: #a9b6d7;
    color: white;
}
.navbar .dropdown:hover .dropbtn:after {
    position: absolute;
    content: attr(data-title);
    left: 0px;
    bottom: 48px;
    padding: 10px 20px 0px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    background-color: #a9b6d7;
    color: white !important;
}
.navbar .drop-active.dropdown .dropbtn:after {
    position: absolute !important;
    content: attr(data-title) !important;
    left: 0px !important;
    bottom: 50px !important;
    padding: 10px 20px 0px !important;
    width: 100% !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-style: italic !important;
    background-color: #004F8E !important;
    color: white !important;
}
.footer {
    height: 45%;
    width: 100%;
    background-color: #2e5e8c !important;
    border-top: 6px solid #004F8E;
    /*margin: 20px 0 0 0;*/
    padding: 0 0px 0 20px;
    overflow: hidden;
}
.logo {
    padding-left: 20px;
    padding-bottom: 20px;
}
.footer-bold-text {
    font-weight: bold !important;
    font-size: small;
    color: #4eaacf;
}
.footer-bold-text p {
    color: #5981a8;
    padding-top: 15px;
}
.footer-bold-text span {
    color: #ffffff;
}
.XblogFooter {
    /*position:fixed;*/
    height: 45%;
    bottom: 0px;
    width: 100%
}
.fb_iframe_widget {
    display: block !important;
    /* display: inline-block; */
    position: relative;
}
#myCarousel {
    margin-bottom: 20px !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
}
#myCarousel .carousel-control {
    width: 15% !important;
}

#myCarousel .carousel-control > span {
    color: #004F8E !important;
    top: 50% !important;
}

.bg-white {
    background-color: #fff;
}

.carousel-caption-bh {
    position: absolute;
    z-index: 10;
    padding-left: 25px;
    padding-top: 0px;
    text-align: left;
    max-width: 70%;
    left: auto;
    color: #353434;
}

button.close {
    opacity: 1;
    color: white;
    position: absolute;
    font-size: 32px;
    right: 5px;
    top: 0px;
}
.imgicon {
    display: block;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: left;
    margin-bottom: 10%;
}
.imgicon img {
    margin-top: 15%;
}
.left-sec-foot p {
    color: white;
    font-size: large;
    /*margin-top: 25px;*/
    text-align: center;
    font-weight: bold !important;
    background-color: #2e5e8c !important;
}
   
.right-foot-sec {
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 2px;
    color: white;
    text-align: left;
}
.right-foot-sec p {
    text-align: left;
    display: block !important;
    padding-bottom: 10px;
}
.right-foot-sec a {
    color: black !important;
    font-weight: bold;
    text-decoration: underline !important;
}

.right-foot-sec a:hover {
    font-weight: normal !important;
}

.middle-sec-foot {
    margin-bottom: 7px;
}
.middle-sec-foot p span {
    color: white;
    /*font-weight: bold !important;*/
}

.middle-sec-foot-bot-border {
    border-bottom: 3px solid #83b0ca;
    margin-bottom: 10px;
}
.middle-sec-foot p {
    text-align: center;
    margin-top: 25px;
    font-size: larger;
    color: black;
    font-weight: bold;
    background-color: #2e5e8c !important;
}
/*----------------------------------------------Header and footer end--------------------------------------------------------*/


/*------------content---------------------------------------------------*/
#content-left-column, #right-column {   
    margin-top: 20px;
}
#sublayout {
    background-color:white;
    padding-bottom:35px;
}
#content-heading {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 26px;
    line-height: 28px;
    color: #004b8f;
}
#content-subheading-content {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 15px 0 0 0;
}
#content-subheading {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #004b8f;
}
ul.modal-icons {
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.modal-icons li a {
    color: #ffffff;
}
.modal-icons li a img {
    height: 30px;
    width: 30px;
}
.modal-icons-parent {
    margin-top: 10%;
}
.nav-modal {
    background: #004f8e !important;
}
.pan {
    margin-bottom: 0px !important;
}
label.modal-navHeader {
    background-color: #004f8e;
    color: white;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top: 2px solid;
}
.modal-navHeader a {
    color: white;
}
.modal-navLinks ul {
    list-style: none;
}
.modal-navLinks ul li {
    margin-left: -25px;
    padding-bottom: 5px;
}
.modal-navLinks ul li a {
    color: white;
}
.modal-footer-text p {
    color: white;
    margin-left: 9px;
    margin-top: 13px;
    font-size: 10px;
    width: 60%;
    line-height: 14px;
    color: #73a3d0;
}
.nav-modal-head {
    border-bottom: none !important;
}

.space-between-headings {
    margin-top: 20px;
}
list-column-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    display: inline-block;
    margin-bottom: 20px !important;
}
.list-column-2 li:nth-child(5) {
    padding-top: 14px !important;
}

/*------------Home Page---------------------------------------------------*/

.homefont {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.home-sub-head h1 {
    color: #006ac3;
}
.home-sub-content p {
    color: #7c7f7e;
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 30px;
}
.mad-img {
    height: 156px !important;
    max-width: 100%;
}
.mad-teaser-heading {
    text-align: center;
    color: #7C7F7E;
    font-size: 16px;
}

/*.doc-img img:hover {
    transform: scale(1.1);
}*/

.doc-img img {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    cursor:default;
}
.navbar {
    margin-bottom: 0 !important;
}
/*--------------------------Find A Doc box---------------------------*/

.find-doc {
    background: #2e5e8c;
    padding: 20px;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
}
.find-doc input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    color: grey;
}

.find-doc label {
    margin-top: 10px;
}

select.find-doc-select {
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #555;
    padding: 6px 0px;
    width: 100%;
}
.find-doc-form-head h4 {
    font-weight: bold;
}
.find-doc-form-search-btn button {
    background: #4eaacf;
    color: white;
    width: 100%;
    font-size: 15px;
    border: 1px solid #4eaacf;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}


/*--------------------------User Login box---------------------------*/

.login-box-btn button, .login-box-btn input {
    background: #4eaacf;
    color: white;
    width: 100%;
    font-size: 15px;
    border: 1px solid #4eaacf;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}
    


/*****************************mission statement*/
.missionstatement {
    color: black;
    text-align: center;
}
.missionstatement h3 {
    font-size: 30px;
}
.missionstatement p {
    color: black;
    font-size: 15px;
}

/***************** social media ***/
.socialmedia {
    margin: 10px auto;
}
.linkedIn {
    padding-top: 50px;
    float: left;
}
#sidebar-bottom {
    background: #2e5e8c;
}

.col-right .section {
    padding: 0 16px;
}
.section {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    text-align: left;
}
.toolsimage {
    float: right;
    bottom: 0;
    right: 0;
}