﻿body {
}

.providers h2 {
    text-align:center;
    color:#0094ff;
}
.providerright {
    margin-left: 0;
}
.linksblocks {
    float: left;
    width: 33%;
    height: 33%;
    border-style: none;
}

.linksblocks img {
    margin: auto;
    border: 3px;
    /*padding: 10px;*/
}
.linksblocks p{
    text-align:center;
    font-size:smaller;
}
.blocks {
    margin: 0;
}
