﻿
/*------------------------------------------------*Report Center------------------------------------------------*/
.dcenter-sort-wrap {
}

.dcenter-topsort-margin {
    margin: 18px 0;
}

    .dcenter-topsort-margin ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

        .dcenter-topsort-margin ul li {
            flex-direction: row;
            padding-right: 20px;
            text-decoration: underline;
            /*	white-space: nowrap;*/
        }

.dcenter-doc-detail {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    .dcenter-doc-detail li {
        flex-direction: row;
        padding-right: 20px;
    }


.dcenter-topsort-margin label {
    color: grey;
}

.dcenter-topsort-margin span {
    font-weight: bold;
}


.dcenter-sort {
    text-align: right;
    /*float: right;*/
    display: inline-block;
    max-width: 90px;
}

.dcenter-sort-label {
    color: grey;
    padding-right: 10px;
}

.dcenter-header {
    color: #004b8f;
}

.dcenter-name a {
    text-decoration: underline;
}

.dcenter-filters-container {
    max-width: 200px;
    color: white;
    margin-bottom: 10px;
}

    .dcenter-filters-container select, .dcenter-filters-container input {
        color: black;
        margin-bottom: 10px;
    }

    .dcenter-filters-container label {
        font-weight: normal;
    }

.dcenter-filters-header, .dcenter-filters {
    background-color: #004b8f;
}

.dcenter-filters-header {
    padding: 10px 20px;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.dcenter-filters {
    padding: 10px;
}

.dcenter-refine-show {
    padding-bottom: 15px;
    color: grey;
    font-size: 12px;
}


.dcenter-results {
    list-style: none;
    padding-left: 0;
}

    .dcenter-results ul {
        list-style: none;
    }

        .dcenter-results ul li {
            font-size: 10px;
        }

.dcenter-result {
    display: inline-block;
    width: 100%;
}

.dcenter-result-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 84%;
    float: right;
}

.dcenter-download-btn {
    background-color: #004b8f;
    color: white;
    border-radius: 4px;
    border: 1px solid #60bc02;
    width: 100%;
    min-height: 30px;
    font-weight: bold;
}

.dcenter-search-btn {
    background-color: #004b8f;
    color: white;
    border-radius: 4px;
    border: 1px solid #60bc02;
    width: 50%;
    min-height: 35px;
    font-weight: bold;
    margin-left: 25px;
}


.dcenter-name {
    font-size: 16px;
}

.doccenter-desc {
    font-size: 12px;
}

.dcenter-title-span2 {
    text-transform: uppercase;
    color: #fff;
    background-color: #004b8f;
    margin-left: 15px;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 12px;
}


.dcenter-controls-container {
    text-align: center;
    margin-left: 30px;
}

.dcenter-bottom-showing {
    margin-top: 8px;
}

#pagination ul {
    margin: unset !important;
}


.pagination-container {
    display: inline-block;
    color: #aaa;
    /*margin: 15px 0;*/
    margin: 5px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.dcenter-page-link {
    margin: 0 9px;
    color: #337ab7;
    cursor: pointer;
}



.dcenter-result-image {
    display: table;
}

    .dcenter-result-image span {
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
    }

    .dcenter-result-image img {
        display: table-cell;
        max-width: 60px;
        max-height: 70px;
        max-width: 100%;
        height: auto;
    }

.dcenter-result-filter {
    text-align: center;
}

.dcenter-sort-wrap select {
    border: 1px solid #AAA;
    border-radius: 4px;
    color: #555;
    padding: 6px 0px;
    width: 100%;
}

.dcenter-nodoc {
    font-size: 20px;
    font-weight: 700;
}

