﻿@using Sitecore.Mvc
<div id="content-left-column">
    <div id="content-heading">
        @Html.Sitecore().Field("heading")
    </div>
    <div id="content-subheading-content">
        @Html.Sitecore().Field("subheading")
    </div>
</div>
