﻿
        <div class="col-sm-4 left-sec-foot">
            <div class="col-sm-3">
                <p style="color:white;font-size:x-large;">Follow Us!</p>
            </div>
            <p class="col-sm-3 facebook fb-like" data-href="https://www.facebook.com/PrimeCompNetwork" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false">
            </p>
            <p class="col-sm-3">
                <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/FollowCompany" data-id="25043385">
                </script>
            </p>
            <p class="col-sm-3">
                <a class="twitter-follow-button" href="https://twitter.com/PrimeCompJax" data-size="medium" data-show-screen-name="false" data-show-count="false">PrimeCompJax</a>
                <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </div>
        <div class="col-sm-4 middle-sec-foot"> 
            <p class="text-center">Prime Comp Network  <br /> 841 Prudential Drive <br /> Suite 1530 <br /> Jacksonville, FL 32207</p>
        </div>
        <div class="col-sm-4 right-foot-sec">
            <p>Phone: <span ><a href="tel:9043763790">(904) 376-3790</a></span></p>
            <p>Fax: <span style="color: black !important;font-weight: bold;text-decoration: underline !important">(904) 391-5321</span></p>
            <p>
                Email: <span>
                    <a href="mailto:primecomp@bmcjax.com">
                        <span>primecomp@bmcjax.com</span>
                    </a>
                </span>
            </p>
        </div>
   