﻿@using Sitecore;
@using Primecomp93Helix.Feature.PageContent.Models
@model Header
<div class="to-header">
    <div class="row">
        <div class="col-sm-4 fapheaderleft">
            @if (Model != null && Model.Menu != null)
            {
                <a href="/"><img src="@Model.Menu.SiteLogoURL" class="img-responsive logo" /></a>
            }
            else
            {
                <img src="~/Images/bpm logo.png" class="img-responsive logo">
            }
        </div>
        <div class="col-md-4 fapheadercenter">
            <h1 class="fap-header">Provider Directory</h1>
        </div>
        <div class="col-sm-4 fapheaderright">
            <img src="~/Images/PrimeComp-PhysicianLookup.jpg" class="img-responsive" />
        </div>
    </div>
</div>
<!-- This is the middle Nav-->
<div class="header-nav-wrap">
    <nav class="navbar-inverse" data-spy="affix" data-offset-top="5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="navbar-toggle" data-toggle="modal" data-target="#myModal">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="navbar">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="container">
                        <ul class="nav top-nav">
                            <div class="dropdown">
                                <li class="dropbtn" data-title="">
                                    <a href="/">HOME</a>
                                </li>
                            </div>
                            @if (Model != null && Model.Nav != null)
                            {
                                foreach (var nav in Model.Nav)
                                {
                                    <div class="dropdown">
                                        <li class="dropbtn" data-title="">
                                            <a href='@nav.NavItemURL'>
                                                @nav.NavItemText
                                            </a>
                                        </li>

                                        @if (nav.NavLinks != null && nav.NavLinks.Count > 0)
                                        {
                                            <div class="dropdown-content">
                                                @foreach (var navLinks in nav.NavLinks)
                                                {
                                                    if (navLinks.NavLinkText == "Report Center")
                                                    {
                                                        if (Sitecore.Context.User.IsAuthenticated)
                                                        {
                                                            <a href="@navLinks.NavLinkURL">@navLinks.NavLinkText</a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a href='@navLinks.NavLinkURL'>@navLinks.NavLinkText</a>
                                                    }
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                if (Sitecore.Context.User.IsAuthenticated)
                                {
                                    var sitecoreString = "sitecore\\";
                                    var userName = Sitecore.Context.User.Name.ToString();
                                    userName = userName.Replace(sitecoreString, "");

                                    <div class="dropdown" style="float: right">
                                        @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                                        {
                                            <div style="padding-top:5px">
                                                <button name="logout" type="submit" value="logout" class="btn btn-info btn-md"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
                                            </div>
                                        }
                                    </div>
                                    <div class="dropdown" style="float: right">

                                        <li class="dropbtn">
                                            @if (userName != null)
                                            {
                                                <div style="color:black; font-weight:bold"> @userName</div>
                                            }
                                        </li>
                                    </div>

                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content nav-modal">
            <div class="modal-header nav-modal-head">
                <div class="row modal-icons-parent">
                    <ul class="modal-icons col-xs-12 list-style-none">
                        <div class="dropdown">
                            <li class="dropbtn" data-title="">
                                <a href="/">HOME</a>
                            </li>
                        </div>
                        @if (Model != null && Model.Menu != null && Model.MenuItems != null)
                        {
                            foreach (var menuItem in Model.MenuItems)
                            {
                                <li>
                                    <a href='@menuItem.MenuItemURL'>
                                        <figure><div class="imgicon"><img src='@menuItem.MenuItemLogo'></div><figcaption>@menuItem.MenuItemText</figcaption></figure>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @if (Model != null && Model.Nav != null)
                {
                    foreach (var nav in Model.Nav)
                    {
                        <label class="modal-navHeader"><a href='@nav.NavItemURL'>@nav.NavItemText</a></label>
                        if (nav.NavLinks != null && nav.NavLinks.Count > 0)
                        {
                            <div class="modal-navLinks">
                                <ul>
                                    @foreach (var navLinks in nav.NavLinks)
                                    {
                                        if (navLinks.NavLinkText == "Report Center")
                                        {
                                            if (Sitecore.Context.User.IsAuthenticated)
                                            {
                                                <a class=" fa fa-caret-right" href="@navLinks.NavLinkURL"> @navLinks.NavLinkText</a>
                                            }
                                        }
                                        else
                                        {
                                            <a class=" fa fa-caret-right" href='@navLinks.NavLinkURL'> @navLinks.NavLinkText</a>
                                        }

                                    }
                                </ul>
                            </div>
                        }
                    }
                    @*if (Sitecore.Context.User.IsAuthenticated)
                    {
                        <label class="modal-navHeader">
                            @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                            {
                                <button name="logout" type="submit" value="logout" class="bpp-logoutbtn-mbl">Logout</button>
                            }
                        </label>
                    }*@
                }
            </div>
        </div>
    </div>
</div>