﻿@using Sitecore.Mvc

<!-- Theme Start -->
    <!-- Header Start -->
    <header class="container-fluid no-padding">
        @Html.Sitecore().Placeholder("header")
    </header>
    <!-- Header End -->
    <div class="container">
        <!-- Sublayout Start -->
        <div id="sublayout" class="row">
            @Html.Sitecore().Placeholder("sublayout")
        </div>
        <!-- Sublayout End -->
    </div>
    <!-- Footer Start -->
    @*<div class="footer">*@
    
    @*</div>*@
    <!-- Footer End -->
<footer class="footer">
    @Html.Sitecore().Placeholder("footer")
</footer>
<!-- Theme End -->
