﻿@using Sitecore.Mvc
<div class="col-md-12 twocolumn">
    <!-- Two Column Left Layout Start -->
    <!-- Main Left Column Start -->
    <div id="content-left-column" class="col-md-7">
        @Html.Sitecore().Placeholder("leftsidebar")
    </div>
    <!-- Main Left Column End -->
    <!-- Right Column Start -->
    <div id="right-column" class="col-md-5">
        @Html.Sitecore().Placeholder("rightsidebar")
    </div>
    <!-- Right Column End -->
    <!-- Two Column Left Layout End -->
</div>
