﻿@using Sitecore.Mvc

<!-- Two Column Left Layout Start -->
<!-- Main Left Column Start -->
<div id="left-column" class="col-md-9">
    @Html.Sitecore().Placeholder("content")
</div>
<!-- Main Left Column End -->
<!-- Right Column Start -->
<div id="right-column" class="col-md-3">
    @Html.Sitecore().Placeholder("rightsidebar")
</div>
<!-- Right Column End -->
<!-- Two Column Left Layout End -->
