﻿@using Sitecore.Mvc;
@model Primecomp93Helix.Feature.PageContent.Models.Login
    @if (!Sitecore.Context.User.IsAuthenticated)
    {
        <div class="col-md-12">
            @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
            {
                @Html.Sitecore().FormHandler("Login", "Submit")

                <div class="find-doc">
                    <div class="find-doc-form-head text-center">
                        <h4>User Login</h4>
                        <hr />
                    </div>
                    <div>
                        @if (Request.Cookies["incorrectPasswordOrUsernameError"] != null)
                        {
                            <label>Incorrect Password or Username, Please try again.</label>
                            HttpCookie deleteCookie = new HttpCookie("incorrectPasswordOrUsernameError");
                            deleteCookie.Expires = DateTime.Now.AddDays(-1);
                            Response.Cookies.Add(deleteCookie);
                        }
                    </div>
                    <p>
                        <label>Username </label>
                        @Html.TextBoxFor(Model => Model.UserName, new { Class = "form-control", type = "text", placeholder = "Username", ID = "username", name = "username", required = "required" })
                    </p>
                    <p>
                        <label>Password </label>
                        @Html.PasswordFor(Model => Model.Password, new { Class = "form-control", type = "password", placeholder = "Password", ID = "password", name = "password", required = "required" })
                    </p>

                    <div class="login-box-btn">
                        <input type="submit" value="Login" class="login-box-btn" />
                    </div>
                </div>
            }
        </div>
    }
