﻿    <!--Mission Statement-->
@using System.Configuration;
@using Sitecore.Configuration
@using Sitecore.Mvc
@{
    var learnMoreEmailLink = Settings.GetSetting("learnMoreEmailLink");
}
<div class="missionstatement">
    <h3>Mission Statement</h3>
    <p>@Html.Sitecore().Field("Mission Statement")</p>
    <div class="login-box-btn">
        <input type="button" value="Learn More!" onclick="location.href='@learnMoreEmailLink'"/>
    </div>
</div>
