﻿@using Sitecore.Mvc

<div class="homefont">
    <div class="space-after-content">
        <div class="col-md-4 col-sm-4 ">
            <div class="doc-img img-responsive">
                @Html.Sitecore().Field("Column1 Image")
            </div>
            <div class="doc-content">
                <div class="text-center">
                    <h3>@Html.Sitecore().Field("Column1 Heading")</h3>
                </div>
                @Html.Sitecore().Field("Column1 Content")
            </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
            <div class="doc-img img-responsive">
                @Html.Sitecore().Field("Column2 Image")
            </div>
            <div class="doc-content">
                <div class="text-center">
                    <h3>@Html.Sitecore().Field("Column2 Heading")</h3>
                </div>
                @Html.Sitecore().Field("Column2 Content")
            </div>
        </div>
        <div class="col-md-4 col-sm-4 ">
            <div class="doc-img img-responsive">
                @Html.Sitecore().Field("Column3 Image")
            </div>
            <div class="doc-content">
                <div class="text-center">
                    <h3>@Html.Sitecore().Field("Column3 Heading")</h3>
                </div>
                @Html.Sitecore().Field("Column3 Content")
            </div>
        </div>
    </div>
</div>
<script>
    $(window).resize(function () {
        var sWidth = $(window).width();
        if (sWidth >= 768 && sWidth <= 1199) {
            $('.doc-content').css("height", "630px");
        }
    })
</script>

