﻿@using Sitecore.Mvc
@using Primecomp93Helix.Feature.PageContent.Models;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using System.Configuration;
@using Sitecore.Configuration
@{
    string config = Settings.GetSetting("TownCenter");
    ID id = new ID(config);
    Item item = Sitecore.Context.Database.GetItem(id);
}

<div class="col-lg-12 fap-result">
    <div class="col-lg-12 profile">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ol class="breadcrumb go-back">
                    <li>
                        <i class="fa fa-chevron-left fa-1" aria-hidden="true"></i>
                        <a href="/en/Search/FAP-Results" class="breadcrumblink">Search Results</a>
                    </li>
                </ol>
            </div>
        </div>
        <div id="physician_details" class="row col-md-12">
            <div id="physician-box" class="col-md-12">
                <div class="row col-md-12" id="profile-box">
                    <!--copy box-->
                    <div class="col-md-12">
                        <div class="col-md-12 physician-name">
                            <h1>@item.Fields["HospitalName"].Value.ToString()</h1>
                        </div>
                        <div class="col-md-12">@item.Fields["Address"].Value.ToString()</div>
                        <div class="col-md-12">@item.Fields["Address2"].Value.ToString()</div>
                        <div class="col-md-12">@item.Fields["City"].Value.ToString()@Html.Raw(",") @item.Fields["State"].Value.ToString() @item.Fields["Zip"].Value.ToString()</div>

                        <div class="col-md-12 dr-phone">
                            <span>Tel:</span>
                            <span>@Html.Raw("(")@item.Fields["PhoneNumber"].Value.ToString().Substring(0,3)@Html.Raw(") ")@item.Fields["PhoneNumber"].Value.ToString().Substring(3, 3)@Html.Raw("-")@item.Fields["PhoneNumber"].Value.ToString().Substring(6, 4)</span>
                        </div>
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                    <hr class="fap-result-hr">
                    <div class="row">
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //if ($('.bpp-profile-img').attr('src').indexOf("Intranet") > -1) {
        //    $('.action-btn-row').css('max-width', '176px');
        //}

        var $tabContent = $('.tab-pane .card');
        var $accordionContent = $('#findDoctorTab .accordion-content');
        console.log($tabContent);
        for (var i = 0; i < $accordionContent.length; i++) {
            $($accordionContent[i]).html($($tabContent[i]).html());
        }

        $('title').text($('.physician-name').text());
    })

    $('#findDoctorTab .nav-item').click(function () {
        $('.nav-item').removeClass('active');
        $(this).addClass('active');

        var showID = $(this).find('a').attr('data-id');

        $('.tab-pane').removeClass('active');

        $('.tab-pane').each(function () {
            if ($(this).attr('id') == showID) {
                $(this).addClass('active');
            }
        })

        /*$('.accordion-content').hide('fast');
        $(this).find('.accordion-content').show('fast');*/
    });
</script>